
@{
    ViewBag.Title = "Salary";
}

<h2>Salary</h2>
@using (Html.BeginForm("savedata", null, FormMethod.Post))
{

<form action="savedata">

  
    <div class="col-nd-2">
        <label>Employee Name</label>
        @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new { @Name = "employee_id", @class = "Form-Control" });
      </div>
    <label>Salary_paid</label>
    <div class="col-md-u">
        <input type="text" name="salary_paid" class="form-control" />
    </div>
    <label>paid_date</label>
    <div class="col-md-u">
        <input type="text" name="paid_date" class="form-control" />
    </div>
    <div class="col-md-">
        <input type="submit" class="btn btn-success" value="save" />
    </div>
</form>
}

<h2>dhiraj</h2>