
@{
    ViewBag.Title = "Salary";
}

<form action="savedata">

    <label>Employee_id</label>
    <div class="col-md-u">
        <input type="text" name="employee_id" class="form-control" />
    </div>

    <label>Salary_paid</label>
    <div class="col-md-u">
        <input type="text" name="salary_paid" class="form-control" />
    </div>
    <label>paid_date</label>
    <div class="col-md-u">
        <input type="text" name="paid_date" class="form-control" />
    </div>
    <div class="col-md-">
        <input type="submit" class="btn btn-success" value="save" />
    </div>
</form>

<h2>dhiraj</h2>