
@{
    ViewBag.Title = "dhiraj1";
}

<form action="savedata">

    <label>Name</label>
    <div class="col-md-u">
        <input type="text" name="name" class="form-control" />
    </div>
    <label>Address</label>
    <div class="col-md-u">
        <input type="text" name="address" class="form-control" />
    </div>

    <label>contact</label>
    <div class="col-md-u">
        <input type="text" name="contact" class="form-control" />
    </div>
    <div class="col-md-">
        <input type="submit" class="btn btn-success" value="save" />
    </div>
</form>

<h2>dhiraj</h2>

