@model dhiraj.Models.Table_1
@{
    ViewBag.Title = "edit1";
}

@using (Html.BeginForm("UpdateData", "bit1"))
{
    <input type="hidden" name="id" value="@Model.id" />
    <label>Name</label>
    <div class="col-md-u">
        <input type="text" name="name" class="form-control" />
    </div>
    <label>Address</label>
    <div class="col-md-u">
        <input type="text" name="address" class="form-control" />
    </div>
    <label>contact</label>
    <div class="col-md-u">
        <input type="text" name="contact" class="form-control" />
    </div>
    <div class="col-md-">
        <input type="submit" class="btn btn-success" value="save" />
    </div>
}

<h2>Edit1</h2>

